<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/estilo.css" />
    <title>Tarjeta Pokemon</title>
  </head>
  <body>
    <div class="container-bg">
      <img src="./images/bg-pattern-top.svg" alt="" class="arriba">
      <img src="./images/bg-pattern-bottom.svg" alt="" class="abajo">
    </div>
      <div class="container">
        <div class="prueba">
            <div class="item1 cont-image">
              <img class="cont__1image" src="./images/bg-pattern-card.svg" alt="" srcset="">
              <img class="cont__2image" src="./images/Pokebola-pokeball-png-0.png" alt="imagen-pokeball" />
           </div>
          <div class="item2">
            <div class="item2-1">
               <div class="cont-flex">
                <p class="nombre">Pokemón</p> 
               </div>
              <span class="suave tipo">Tipo</span>
            </div>
            <div class="item2-2">
              <div class="uno">
                <p class="red-social peso"> 
              </p> <span class="followers suave redes">Peso</span>
            </div>
              <div class="dos">
                <p class="red-social altura">
                
               </p> <span class=" suave redes">Altura</span>
              </div>
              <div class="tres">
                <p class="red-social exp">
                 
               </p><span class="photos suave redes">Experiencia</span>
              </div>
            </div>
            <button class="btn">Buscar</button>
          </div>
        </div>
      </div>
      <script src="./src/main.js"></script>
  </body>
</html>